PORT=<port>
NODE_ENV=development

MONGO_URI=<mongo uri>

JWT_SECRET=<jwt key>
JWT_EXPIRE=<jwt expire>
JWT_COOKIE_EXPIRE=<jwt cookie expire>

S3_ACCESS_KEY=<aws s3 access key>
S3_SECRET_KEY=<aws s3 secret key>
S3_BUCKET=<aws s3 bucket name>
S3_BUCKET_REGION=<aws s3 bucket region>
S3_DOMAIN=<aws s3 domain>